<br>
<h1 style="text-align: center;">Lab Assistants</h1>
<br>
<section>
    <button type="button" (click)="openModal()" class="btn btn-primary" style="margin-left: 1em;">Add Lab Assistant</button>
</section>
<br>
<!-- lab assistants displayed -->
<table class="table table-hover" id="que" style="width: 98%; margin: auto;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Lab</th>
            <th scope="col">Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of admins;let i = index">
            <th scope="col">{{i+1}}</th>
            <td scope="col">{{row.name}}</td>
            <td scope="col">{{row.email}}</td>
            <td scope="col">{{row.lab}}</td>
            <td scope="col"><button class="btn btn-success" (click)="removeAssistant(row._id)">Remove</button></td>
        </tr>
    </tbody>
</table>

<!-- add lab assistant form -->
<section *ngIf="modal" class="modal-container">
    <div class="container">
        <form>
            <div class="form-group">
                <label for="lab">Lab</label>
                <select id="lab" #lab [innerHTML]="labOptions | sanitizeHTML" class="form-control">
                    <option>Fake option</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" #name>
            </div>
            <div class="form-group">
                <label for="email">School Email</label>
                <input type="text" id="email" class="form-control" #email>
            </div>
            <div class="form-group">
                <label for="password">Temp Password</label>
                <input type="text" id="password" class="form-control" #password>
            </div>
            <div class="buttons">
                <button type="button" class="btn btn-danger" (click)="exitModal()">Cancel</button>
                <button type="button" class="btn btn-success" (click)="addAdmin(lab, name, email, password)" style="margin-left: 1em;">Add</button>
            </div>
        </form>
    </div>
</section>