<div class="flex">
    <button class="btn btn-success" (click)="openModal()" [disabled]="!labIsSelected">Request Help</button>
    <select (change)="labChange(lab.value)" #lab [innerHTML]="labOptions | sanitizeHTML" [disabled]="loggedin">
      
      
    </select>
</div>

<!-- que -->
<table class="table table-hover" id="que">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Question/Problem</th>
            <th scope="col">Campus/Online</th>
            <th scope="col">Email</th>
            <th scope="col" *ngIf="ta">Help Student</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of studentRequests;let i = index" class="{{row.beingHelped}}">
            <th scope="col">{{i+1}}</th>
            <td scope="col">{{row.name}}</td>
            <td scope="col">{{row.class}}</td>
            <td scope="col">{{row.question}}</td>
            <td scope="col">{{row.campus}}</td>
            <td scope="col">{{row.email}}</td>
            <td scope="col"><button class="btn btn-success" (click)="helpStudent(row)" *ngIf="ta">Help</button></td>
        </tr>
    </tbody>
</table>

<!-- help form modal -->
<section *ngIf="register" class="modal-container">
    <div class="container">
        <h2>Help Request</h2>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" #name>
            </div>
            <div class="form-group">
                <select id="class" #course>
                  <option value="" disabled>Pick course</option>
                  <option *ngFor="let row of courses">{{row.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="question">Problem/Question</label>
                <textarea id="question" class="form-control" cols="30" rows="10" #problem></textarea>
            </div>
            <div class="form-group">
                <select id="location" #location>
                  <option disabled>Location</option>
                  <option>Campus</option>
                  <option>Online</option>
                </select>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" #email>
            </div>
            <div class="buttons">
                <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>
                <button type="button" class="btn btn-primary" style="margin-left: 1em;" (click)="gethelp(name.value, course.value, problem.value, location.value, email.value)">Get Help</button>
            </div>
        </form>
    </div>
</section>

<section *ngIf="helping" class="modal-container">
    <div class="container">
        <p><span style="font-weight: bold;">Help Started:</span> <span> {{startedTime}}</span></p>
        <p><span style="font-weight: bold;">Helped By:</span> <span> {{helpedByName}}</span></p>

        <form>
            <div class="form-group">
                <label for="report">Request Report</label>
                <textarea id="report" class="form-control" #report></textarea>
            </div>
            <div class="buttons">
                <button type="button" class="btn btn-danger" (click)="helpStudentExit()">Cancel</button>
                <button type="button" class="btn btn-success" (click)="removeStudent(report.value)" style="margin-left: 1em;">Finished</button>
            </div>
        </form>
    </div>

</section>