.container {
    width: 30%;
    margin-left: auto;
    margin-left: auto;
    background-color: white;
    padding: 1em;
}

.container textarea {
    height: 75px;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 5em;
    padding-bottom: 50em;
    position: absolute;
    top: 0;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}