<header id="main-header">
    <div id="header-wrapper">
        <div id="main-nav-title">
            <a routerLink="">
                <h1>StudentQ</h1>
            </a>
        </div>
        <nav id="main-nav">

            <ul>
                <li><a routerLink="getHelp">Get Help</a></li>
                <li><a routerLink="labInfo">Lab Info</a></li>
                <li><a routerLink="login" *ngIf="!loggedin">Login</a></li>
                <li><a href="" *ngIf="loggedin">Logout</a></li>
            </ul>
            <div class="btn-group">
                <div class="btn-primary dropdown-toggle change" data-toggle="dropdown" *ngIf="flase">
                    Admin
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Reports</a>
                    <a class="dropdown-item" href="#" *ngIf="flase">Lab Assistant</a>
                    <a class="dropdown-item" href="#">Courses</a>
                    <a class="dropdown-item" href="#" *ngIf="flase">Availability</a>
                    <a class="dropdown-item" href="#">Labs</a>
                </div>
            </div>
        </nav>
    </div>
</header>
<router-outlet></router-outlet>